<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Otros encabezados y metaetiquetas aquí -->
</head>
<body>
<!-- Contenido de la página aquí -->
<footer id="footer">

    <div class="footer-container">

        <div class="footer-logo">
            <img src="assets/images/icons/logo.png">
        </div>
        <div class="footer-info">
            <p th:text="#{footer.address}">Dirección: Cra 128 # 142d- 96</p>
            <p th:text="#{footer.phone}">Teléfono: 456-7890</p>
            <p th:text="#{footer.email}">Email: lafortaleza.soporte@gmail.com</p>
        </div>
        <div class="footer-social">
            <a href="#"><img src="assets/images/icons/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="assets/images/icons/x.png" alt="Twitter"></a>
            <a href="#"><img src="assets/images/icons/instagram.png" alt="Instagram"></a>
        </div>
    </div>
</footer>
</body>
</html>
