<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La Fortaleza</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/embla/embla.css}" />
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
</head>
<body>
<!--include header -->
<div th:insert="includes/header :: header"></div>
<div class="main-container">
    <div class="container-cover">
        <div class="container-child-cover">
            <div class="container-imagen">
                <img th:src="@{/images/almacen.jpg}" alt="cover">
            </div>
            <div class="capa-shadow"></div>
            <div class="capa2"></div>
        </div>
    </div>
    <div class="welcome">
        <div class="welcome__title">            <h1>Bienvenido a </h1>
            <h2>Supermercado La fortaleza</h2>
        </div>
        <div class="welcome__subtitle">
            <h2>¡Encuentra todo para tu despensa!</h2>
        </div>
    </div>

    <section class="embla">
        <div class="embla__viewport">
            <div class="embla__container">
                <div th:each="categoria : ${categories}" class="category__card embla__slide">
                    <div class="category_img">
                        <img th:src="'data:image/png;base64,'+${categoria.getImgBase64()}" th:alt="${categoria.nombreCategoria}" />
                    </div>
                    <div class="category__info">
                        <h3 th:text="${categoria.nombreCategoria}"></h3>
                    </div>
                </div>
            </div>
        </div>
            <div class="embla__dots"></div>
    </section>

    <div class="container-info">
        <div class="info">
            <h3>¿Qué hacemos en supermercados <i> La fortaleza</i>?</h3>
            <p>En supermercados la fortaleza, buscamos siempre cubrir una necesidad de forma inmediata y segura,
                proporcionando una experiencia agradable al usuario durante su compra, así mismo con procesos
                eficientes en los pedidos y en las entregas de los productos y artículos.</p>
        </div>
    </div>
</div>
<div th:insert="includes/footer :: footer"></div>
<script th:src="@{/js/embla/index.js}"></script>
</body>
</html>