<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img th:src="@{/images/icons/logo.png}" alt="Logo">
        </div>
        <div class="footer-info">
            <p>Dirección: Cra 128 # 142d- 96</p>
            <p>Teléfono: 456-7890</p>
            <p>Email: lafortaleza.soporte@gmail.com</p>
        </div>
        <div class="footer-social">
            <a href="#"><img th:src="@{/images/icons/facebook.png}" alt="Facebook"></a>
            <a href="#"><img th:src="@{/images/icons/x.png}" alt="X"></a>
            <a href="#"><img th:src="@{/images/icons/instagram.png}" alt="Instagram"></a>
        </div>
    </div>
</footer>